<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

            <div class="fullwidth-block">
                <div class="container">
                    <div class="col-md-6 col-md-offset-1" data-aos="zoom-in">
                        <h2 class="section-title">Choose Location</h2>
                        <p>
                            Choose a location to get the weather info.
                        </p>
                        <form action="/" method="POST" class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <input
                                        type="text"
                                        name="cityName"
                                        id="cityInput"
                                        placeholder="Enter location..."
                                        required
                                    />
                                </div>
                            </div>

                            <div class="text-left">
                                <input type="submit" value="Go" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- .main-content -->

        <%- include("partials/footer"); -%>